node_modules
npm-debug.log
.env
.env.local
scripts_deprecated/.env.example
.git
.gitignore
scripts_deprecated/README.md
Dockerfile
.dockerignore
coverage
.nyc_output
.DS_Store
*.log
uploads/*
!uploads/.gitkeep